:root {
  --color--primary: #353535;
  --color--primary--dark: #282828;
  --color--primary--med: #858585;
  --color--primary--light: #a7a7a7;
  --color--pink-dark: #805656;
  --color--bg--primary: #f7f7f7;
  --color--bg--light-pink: #efe7e7;

  --spacing--container: 1.5rem;
}

/*
  Breakpoints:
  * Phone: >25rem // 450px
  * Tablet: 43.75rem // 700px
  * Desktop: 62.5rem // 1000px
 */
@media screen and (min-width: 25rem) {
	:root {
    --spacing--container: 2rem;
	}
}
@media screen and (min-width: 43.75rem) {
	:root {
    --spacing--container: 3rem;
	}
}

body {
  background: var(--color--bg--primary);
  color: var(--color--primary);
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  position: relative;
}

/* Set some defaults */
a {
  color: var(--color--pink-dark);
  transition: color 0.15s linear, outline 0.1s linear;
}
a:hover {
  text-decoration: none;
}
a:focus {
  background: var(--color--primary);
  color: #fff;
}

hr {
  border: 0;
  border-top: 1px solid var(--color--pink-dark);
}

img {
  width: 100%;
}

figcaption {
  color: var(--color--primary--med);
  font-size: .7em;
  line-height: 1.1;
  text-align: right;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 .25em;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0 .5em;
}
h2:first-child {
  margin-top: 0;
}
h3 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0 0 .5em;
}
h4 {
  color: var(--color--primary--dark);
  font-size: 1.2rem;
  margin: 0 0 .5em;
}
h5 {
  font-size: 1.15rem;
  line-height: 1.1;
  margin: 0 0 .25em;;
}
p {
  margin: 1em 0;
}

time {
  background: var(--color--bg--light-pink);
  color: var(--color--pink-dark);
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
  margin-right: .5em;
  padding: .15em .2em .1em;
  position: relative;
  text-transform: uppercase;
}
time:before {
  content: '';
  display: inline-block;
  border-width: .85em;
  border-color: transparent;
  border-style: solid;
  border-right-color: var(--color--bg--light-pink);
  border-top-color: var(--color--bg--light-pink);
  left: -1.7em;
  top: 0;
  position: absolute;
}

figure {
  margin: 1em 0;
}

ul:last-child li:last-child,
p:last-child {
  margin-bottom: 0;
}
p:first-child {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 200 .8em/1 system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  min-width: 300px;
  overflow: auto
}
thead {
  border-bottom: 2px solid var(--color--primary);
}
th {
  font-weight: 400;
  overflow: hidden
}
tbody tr {
  border-bottom: 1px solid var(--color--primary);
}
td, th {
  padding: .25em 0;
  text-align: center
}
td:first-child {
  text-align: left
}
caption {
  font-size: .9em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: .5em
}

pre {
  background: #ededed;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, "Lucida Console", Monaco, monospace;
  font-size: 1rem;
  line-height: 1;
  margin: 1em 0;
  max-width: 45rem;
  overflow: auto;
  padding: .5em;
  width: 100%;
}

.container {
  max-width: 76rem;
  margin: var(--spacing--container);
}
.container--nav {
  margin-top: 1em;
}
.nav {
  text-align: right;
}
.nav__link {
  display: inline-block;
  margin-left: 1em;
  position: relative;
  text-decoration: none;
}
.nav__link:hover {
  text-decoration: underline;
}
@media screen and (min-width: 43.75rem) {
  .nav__link {
    margin-left: 2em;
  }
}

.header {
  margin-top: 4em;
}
.header__subhead {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 .3em;
}
.header__p {
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--spacing--container) 0 0;
}
.content__col {
  box-sizing: border-box;
  padding: 1.5em;
}
.content__col--primary {
  background: none;
  border-left: 1px solid var(--color--pink-dark);
  border-top: 1px solid var(--color--pink-dark);
}
.content__col--secondary {
  /* TODO: make this functional? */
  background-image:
    linear-gradient(
      to bottom right, 
      var(--color--bg--light-pink) 50%, var(--color--bg--primary) 50%
    );
}
.content__col--tertiary {
  padding-bottom: 0;
  padding-top: 0;
}
.content--quaternary {
  flex-direction: row;
  margin-top: 0;
}
.content__col--quaternary {
  padding-left: 0;
  padding-right: 0;
  width: 50%;
}
.content__col--quaternary:nth-child(2) {
  text-align: right;
}
.page--home .container--nav {
  margin-top: 1.5625em;
}
.container--nav .content--quaternary {
  margin: 0;
}
.container--nav .content {
  align-items: baseline;
}
.container--nav .content__col {
  padding: 0;
}
.content__link {
  text-decoration: none;
  transition: none;
}

@media screen and (min-width: 43.75rem) {
  .content {
    flex-direction: row;
    margin-top: var(--spacing--container);
  }
  .content__col {
    width: 50%;
  }
  .content__col--primary {
    width: 100%;
  }
}

@media screen and (min-width: 62.5rem) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .content {
    flex-wrap: nowrap;
    margin-top: var(--spacing--container);
  }
  .content__col {
    width: 25%;
  }
  .content__col--primary,
  .content__col--quaternary {
    width: 50%;
  }
}

.list {
  padding-left: 1em;
}
.list--tight {
  padding-left: 0;
}
.list__item {
  margin-bottom: .5em;
}
.list__item--tight {
  display: inline;
}
.list__item--tight:before {
  color: var(--color--pink-dark);
  content: '•';
  display: inline-block;
  margin: 0 .4em;
}
.text--tight {
  margin: 0;
}

.footer {
  background: var(--color--primary);
  color: #fff;
}
.container--footer {
  margin-bottom: 0;
}
.copyright {
  font-size: .9em;
}

.article {
  font-size: 1.2em;
  margin: 0 auto;
}
@media screen and (min-width: 43.75rem) {
  .article {
    min-height: 38rem;
    width: 80%;
  }
}
.article__head {
  font-size: 3rem;
  line-height: 1.2;
}
.article__head-tertiary {
  font-size: 1.3em;
  font-weight: bold;
  margin: 1.5em 0 .25em;
}

/* Posts listing */
.posts {
  list-style: none;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}
.posts__item  {
  margin-bottom: var(--spacing--container);
}
.posts__title {
  margin: 0;
}

.link-home {
  font-size: 2em;
  line-height: 1;
  text-decoration: none;
}
.page--home .link-home {
  display: none;
}

@media screen and (min-width: 43.75rem) {
  .list-two-col {
    column-count: 2;
  }
}

.has-pullquote:before {
  background-image:
    linear-gradient(
      to top right, 
      var(--color--bg--light-pink) 50%, var(--color--bg--primary) 50%
    );
  color: var(--color--pink-dark);
  content: attr(data-pullquote);
  display: block;
  font-size: 1.4em;
  margin: 1em auto;
  padding: .5em;
  position: relative;
  width: 80%;
}

@media screen and (min-width: 43.75rem) {
  .has-pullquote:before {
    float: right;
    margin: .2rem 0 1rem 1rem;
    min-width: 9.375rem;
    width: 25%;
  }  
}

.skip-link:focus {
  clip: unset;
  width: auto;
  padding: .5rem 1rem;
  text-decoration: none;
  z-index: 99;
}

/* Functional classes */
.no-decoration {
  text-decoration: none;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.readable {
  max-width: 40rem;
}

.figure--right {
  float: right;
  margin-left: 1em;
  width: 50%;
}
.figure--left {
  float: left;
  margin-right: 1em;
  width: 50%;
}