<!doctype html>
<html lang="en">
<head>
  <title>{{title}}</title>

  <meta charset="utf-8">
  <meta name="description" content="Estella González Madison's personal website">
  <meta name="author" content="Estella González Madison">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
  <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap">

  <!-- capture the CSS content as a Nunjucks variable -->
  {% set css %}
    {% include "css/main.css" %}
  {% endset %}
  <!-- feed it through our cssmin filter to minify -->
  <style>
    {{ css | cssmin | safe }}
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165269763-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date())
    gtag('config', 'UA-165269763-1');
  </script>
</head>
<body{% if "/" == page.url %} class="page--home"{% endif %}>
  <a class="skip-link visually-hidden" href="#main">Skip to main content</a>
  <div class="container container--nav">
    <div class="content content--quaternary">
      {% if "/" == page.url %}
      <div class="content__col content__col--quaternary"></div>
      {% else %}
      <header class="content__col content__col--quaternary">
        <a class="link-home" aria-label="Go back to home page" href="/">estella</a>
      </header>
      {% endif %}
      <div class="content__col content__col--quaternary">
        <nav class="nav">
          <a class="nav__link nav__link--current" href="/work/">Work</a>
          <a class="nav__link" href="/blog/">Writing</a>
        </nav>
      </div>
    </div>
  </div>

  {% if "/" == page.url %}
  <header class="container header">
    <h1>{{title}}</h1>
    <h2 class="header__subhead">Engineering manager & UI-focused software engineer</h2>
    <p class="header__p"><em>I write about my personal experiences and technical challenges</em></p>
  </header>
  {% endif %}

  <main class="container">
    {{ content | safe }}
  </main>

  <footer class="footer">
    <div class="container container--footer">
      <div class="content content--footer">
        <div class="content__col content__col--footer">
          <p class="copyright">Copyright © 2020 Estella Madison. All rights reserved.</p>
        </div>
        <div class="content__col content__col--footer">
          <a class="icon-link" href="https://www.twitter.com/chicagoing">
            <svg class="icon">
              <use xlink:href="/img/icons.svg#twitter"></use>
            </svg>
          </a>
          <a class="icon-link" href="https://www.instagram.com/chicagoing/">
            <svg class="icon">
              <use xlink:href="/img/icons.svg#instagram"></use>
            </svg>
          </a>
          <a class="icon-link" href="https://github.com/chicagoing">
            <svg class="icon">
              <use xlink:href="/img/icons.svg#github"></use>
            </svg>
          </a>
          <a class="icon-link" href="https://codepen.io/chicagoing">
            <svg class="icon">
              <use xlink:href="/img/icons.svg#codepen"></use>
            </svg>
          </a>
          <a class="icon-link" href="https://www.linkedin.com/in/estella/">
            <svg class="icon">
              <use xlink:href="/img/icons.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>